.dates {
    display: flex;
    margin-top: 1rem;
    color: black;
}

.date {
    width: 10rem;
    height: 3.75rem;
    background-color: #fcfff7;
    margin-right: 1.5rem;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font: 1.5rem;
}

.day {
    font-weight: normal !important;
    font-size: 1rem !important;
}

.showtime {
    width: 7.3rem;
    height: 2rem;
    background-color: #fcfff7;
    margin-right: 1.5rem;
    margin-top: 1rem;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    font: 1.5rem;
}

.ticket {
    color: black;
    background-color: #f5c518;
}